.dailyNormaSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start;
    width: 208px;  
    padding: 4px;
  }
  
  .imageContainer {
    margin-bottom: 8px;
  }
  
  .slider {
    width: 100%;
    margin-bottom: 8px; 
  }
  .waterBottle {
    width: 80px;
    height: auto;
  }
  
  .progressContainer {
    display: flex;
  flex-direction: column;  
  justify-content: flex-start; 
  width: 208px;  
  height: 82px;  
  padding: 4px;
  }
  
  .progressTitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33333;
    text-align: left;
    color: #407bff;
    margin-bottom: 8px; 
  }
  
  .progressBar {
    width: 256px; 
    height: 14px; 
    background: #d7e3ff;
    border-radius: 10px;
  }
  
  .progressLabels {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    color: #407bff;
    width: 256px; 

  }
  
  .addWaterBtn {
    align-items: center;
    margin-top: 16px;
    font-size: 16px;
    box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
    background: #407bff;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-bottom: 40px;
    border-radius: 10px;
    padding: 6px 76px;
    width: 280px;
    height: 36px;
  }
  
  .addWaterBtn:hover {
    background-color: #305bb5;
  }
  
  .plusIcon {
    margin-right: 4px;
  }